[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DNAseqtest"]
	path = DNAseqtest
	url = https://github.com/cran/DNAseqtest
[submodule "MPLikelihoodWB"]
	path = MPLikelihoodWB
	url = https://github.com/cran/MPLikelihoodWB
